<li class="gallery-list-item" data-id="{{id}}">
    <img src="{{poster_path}}" alt="{{original_title}}" class="gallery-item-img">
    <h3 class="gallery-item-title">{{title}}
    </h3>
    <div class="gallery-item-info">
        <p class="gallery-item-genre" data-id="{{id}}"> | {{release_date}} </p>
        <p class="vote-average-main">{{vote_average}}</p>
    </div>

</li>